body {
  margin: 0;
}
.row1 {
  display: flex;
  background-color: white;
  flex-direction: row;
  width: 100%;
  position: fixed;
  padding: 10px 5%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 10px -5px gray;
  border-bottom: 1px solid gray;
}
.row1 img {
  width: 50px;
  height: auto;
}
.row1_search {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 3px;
}
.row1_search input {
  border: none;
  outline: none;
  padding: 15px;
}
.row1_searchtext {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 0;
  background-color: black;
  padding: 0;
}
.row1_searchtext input {
  border: none; 
  box-sizing: border-box;
  padding: 15px; 
  width: 225%;
  outline: none;
}
.row1_searchtext_icon {
  color: white;
  margin-right: 1%;
  text-align: left;
  height: 100%;
}
.row1_language {
  display: flex;
  align-items: center;
}
.row1_circle {
  background-color: rgb(45, 45, 65);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row1_button {
  background-image: linear-gradient(45deg, blue, yellow);
  padding: 5px;
  border-radius: 25px;
}
.row1_button_inner {
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.row1_user {
  display: flex;
  align-items: center;
}
.r2 {
  background-color: rgb(190, 187, 187);
  display: flex;
  justify-content: center;
  align-items: center;
}
.r2_cat {
  display: flex;
}
.r2 ul {
  display: flex;
}
.r2 li {
  margin-left: 10px;
  display: flex;
}
.r2 li:hover {
  color: blue;
}
.r3 {
  width: 100%;
  background-color: white;
}
.r3 img {
  width: 100%;
}
.r4 {
  background-color: white;
  font-size: 1.2rem;
  padding: 0px 5%;
}
.r5outer {
  padding: 50px 5%;
  background-color: white;
}
.r5 {
  text-align: left;
  background-color: white;
}
.singleouter {
  display: inline-table;
}
.single {
  margin: 10px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 250px;
  text-align: left;
  border: 1px solid rgba(128, 128, 128, 0.566);
  border-radius: 3px;
  background-color: white;
}
.single img {
  margin: 2px;
}
.single .rate {
  font-weight: bold;
  font-size: 1.3rem;
  padding-left: 2%;
  text-align: left;
  color: black;
  margin-bottom: 20px;
}
.single label {
  color: gray;
  padding-left: 2%;
}
.single_innner {
  margin-top: 20px;
  display: flex;
  font-size: 0.7rem;
  margin-right: 2px;
  justify-content: space-between;
}
.r5 {
  display: block;
}
.r6,
.r6 img {
  width: 100%;
}
.r7 {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(160, 195, 195, 0.271);
  justify-content: space-around;
}
.r7_col_img img {
  width: 75px;
  height: 25px;
}
.r7 ul {
  padding: 0;
  margin: 0;
  margin-top: 6px;
}
.r7 li {
  padding: 0;
  color: rgb(8, 86, 86);
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 3px;
  list-style: none;
}
.r7 label {
  color: rgb(8, 86, 86); 
  font-weight: bold;
}
.loadmore{
    text-align: center;
    margin-bottom: 50px;
}
.loadmore button{
    background-color:  rgb(8, 86, 86)  ;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 3px;

}
.newb{ 
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   ); 
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text; 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       font-size: 190px;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }
.loadmore button:hover{
    background-color:  rgb(31, 152, 152);
} 